
Dockerfile
docker-compose.yml
.dockerignore
**/bin/*
**/obj/*
**/dist/*
.idea/
.vscode/
*.sublime-workspace
*.sublime-project
vendor/
*.session
.env
.env.local
.env.*.local
composer.lock
*.log
logs/
*.out
*.swp
*.swo
*.bak
.DS_Store
Thumbs.db
*.phar